---
// src/layouts/AppLayout.astro
import "../styles/global.css";
const { title = "Eddy's Papers" } = Astro.props;
---

<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <title>{title}</title>
</head>
<body class="bg-[#F1ECE5] text-stone-800 h-full">
<main class="h-full max-w-[1600px] mx-auto px-4 py-6">
    <slot />
</main>
</body>
</html>
